#main{
    margin: 0px auto;
    min-width: 720px;
    background-color: rgb(194, 253, 255);
    padding: 0px;
}

#gregory{
    background-color: #777777;
}

.nav-bar{
    height: 100px;
    background-color: rgb(38, 0, 126);
}

.nav-image{
    height: 360px;
}

