#main{
    margin: 40px auto;
    width: 1024px;
    background-color: rgb(194, 253, 255);
    padding: 0px;
}

#gregory{
    background-color: #777777;
    height: 40px;
}

#home-bar{
    background-color: #550000;
    color: #FFF;
    position: fixed;
}

.nav-bar{
    height: 400px;
    width: 100%;
    background-color: rgb(38, 0, 126);
    display: flex;
    flex-direction: row;
}

.nav-image{
    height: 360px;
    width: 100%;
    overflow: hidden;
}

