a{
    text-decoration:none;
    color: #369eff;;
}

a:visited {
    color:rgb(194, 253, 255);
    text-decoration: none;
}


body {    
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(34, 41, 41) ;
}

#main{
    margin: 0px auto;
    width: 960px;
    background-color: rgb(34, 41, 41);
    padding: 0px;
    color: rgb(206, 218, 223);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#gregory{
    background-color: #777777;
    height: 40px;
}

#home-bar{
    margin: 0px auto;
    text-decoration: none;
    padding: 5px;
    background-color:darkcyan;
    top: 0;
    width: 100%;
    height: 40px;
    font-family:Arial, Helvetica, sans-serif;
    color: #FFF;
    font-weight:bold;
    position: fixed;
    font-size: 30px;
    text-align: center;
}

#summary{
    display: flex;
    padding: 10px;
    margin-top: 50px;
}

#programmer{
    background-color: #aaaaaa15;
}

#engineer{
    background-color: #8899FF15;
}

#video-editor{
    background-color: #BB88FF15;
}

.nav-bar{
    min-height: 320px;
    width: 960px;
    background-color: rgb(33, 23, 184);
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.nav-image-box{
    height: 320px;
    width:320px;
    overflow: hidden;
}

.nav-image{
    height: 100%;
}

.main-section{
    padding:20px;
    display: flex;
    border-radius: 25px;
}

.main-button{
    padding: 15px;
    font-size: 24px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:lightblue;
    color:navy;
    border-radius: 15px;
    border-style:groove;
    border-width: 5px;
}

